/* primeira geração de smartphones em modo retrato com 480px */

@media (max-width: 480px) {

    body {
        /* background-color: palegreen; */
    }

    header > nav {
    width: 90%;
    }

    section {
        width: 90%;
    }

    #news {
        height: auto;
    }

    .cards1 {
        display: block;
    }

    .card {
        margin: 20px 0;
    }

    /* About */

    #about > .container > .content > .head > img {
        width: 90px;
        height: 70px;
    }


    #about > .container > .content > .head > .perfil > h2 {
        font-size: 24px;
    }

    #about > .container > .content > .foot > .redes {
        width: 35%;
    }

    /* PROJETOS */

    #projetos > .container > .content > .cards > .projeto {
        padding: 20px;
    }

    .projeto > .left {
        width: 100%;
    }

    .projeto > .right {
        display: none;
    }

    .projeto > .left > .navlinks {
        gap: 20px;
    }

    /* Contato */

    form {
        width: 100%;
    }

}


/* tablets e smartphones de segunda geração */

@media (max-width: 768px) {
    
    body {
        /* background-color: palegreen; */
    }

    header > nav {
    width: 90%;
    }

    section {
        width: 90%;
    }

    #news {
        height: auto;
    }

    .cards1 {
        display: block;
    }

    .card {
        margin: 20px 0;
    }

    /* About */

    #about > .container > .content > .head > img {
        width: 90px;
        height: 70px;
    }


    #about > .container > .content > .head > .perfil > h2 {
        font-size: 24px;
    }

    #about > .container > .content > .foot > .redes {
        width: 20%;
    }

    /* PROJETOS */

    #projetos > .container > .content > .cards > .projeto {
        padding: 20px;
    }

    .projeto > .left {
        width: 100%;
    }

    .projeto > .right {
        display: none;
    }

    .projeto > .left > .navlinks {
        gap: 1px;
    }

    /* Contato */

    form {
        width: 100%;
    }

}